* {
    background:         #121a1b;
    background-alt:     #b3baba;
    foreground:         #b3baba;
    selected:           #8C6D67;
    active:             #616561;
    urgent:             #3D6446;
}
